<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>{{ displayName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="tertiary">List of my farorites</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let movie of favoriteMovies">
          <div [routerLink]="['/movies/', movie.id]">
          <ion-thumbnail slot="start">
            <img alt="" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}" />
          </ion-thumbnail>
          <ion-label>{{ movie.title }}</ion-label>
        </div>
        </ion-item>
        </ion-list>
      </ion-card-content>
</ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="tertiary"> List of my watchList </ion-card-title>
    </ion-card-header>
    <ion-card-content> </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button color="danger" (click)="showLogoutConfirmation()">
      <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
