<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title> List of movies </ion-card-title>
    </ion-card-header>
    <ion-card-content> </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Watch later </ion-card-title>
    </ion-card-header>
    <ion-card-content> </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button color="danger">
      <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
