<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title> Search for a movie </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search for a movie</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar
    [debounce]="1000"
    (ionInput)="searchMovie($event)"></ion-searchbar>

     <!-- Affichez les résultats de la recherche -->
  <div class="list-search-card">
    <ion-card *ngFor="let movie of results" [routerLink]="['/movies/', movie.id]">
      <img *ngIf="movie?.poster_path"
      [alt]="movie.title ? movie.title : movie.name"
        src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie.poster_path}}"
      />
      <img *ngIf="!movie?.poster_path" src="assets/icon/cover.png" [alt]="movie.title ? movie.title : movie.name">
      <ion-card-header>
        <ion-card-title>{{ movie.title }}</ion-card-title>
        <ion-card-subtitle>{{movie.vote_average}}/10</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>Released date: {{movie?.release_date | date: 'yyyy'}} </ion-card-content>
    </ion-card>

  </div>
</ion-content>
