<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>genres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">genres</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-header>
    <ion-card-title class="title-home">
      <div>Action</div>
      <div>
        <ion-icon name="videocam" color="secondary" size="large"></ion-icon>
      </div>
    </ion-card-title>
  </ion-card-header>
  <div class="list-genre-card">
    <ion-card *ngFor="let card of cards">
      <ion-button
        [color]="clicked ? 'success' : 'medium'"
        class="favori"
        shape="round"
        fill="clear"
        (click)="isClick()"
      >
        <ion-icon name="bookmark"></ion-icon>
      </ion-button>
      <img
        [routerLink]="'/movie-details'"
        alt="Silhouette of mountains"
        src="https://images.unsplash.com/photo-1706402500309-597ba87c8f3a?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Vote : 7/10</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content> Release date : 2019 </ion-card-content>
    </ion-card>
  </div>
</ion-content>
