<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>genres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">genres</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-header>
    <ion-card-title class="title-home">
      <div>{{ title }}</div>
      <div>
        <ion-icon name="videocam" color="secondary" size="large"></ion-icon>
      </div>
    </ion-card-title>
  </ion-card-header>
  <div class="list-genre-card">
    <ion-card *ngFor="let movie of moviesGenre; let i = index">
      <ion-button
        [color]="movie.state ? 'success' : 'medium'"
        class="favori"
        shape="round"
        fill="clear"
        (click)="isClick(i)"
      >
        <ion-icon name="bookmark"></ion-icon>
      </ion-button>
      <img
      [routerLink]="['/movies/', movie.id]"

        alt="Silhouette of mountains"
        src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}"
      />
      <ion-card-header>
        <ion-card-title>{{ movie?.title }}</ion-card-title>
        <ion-card-subtitle>{{movie?.vote_average}}/10</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>{{movie?.release_date | date: 'yyyy'}}</ion-card-content>
    </ion-card>
  </div>
</ion-content>
